@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oleo+Script+Swash+Caps&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eae1e8;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: 'Courier New', Courier, monospace, garamond;
  }



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
}

.icons{
        align-items: center;
        padding-top: 0;
        justify-content: flex-end;
        display: flex;
    }

i#menu{
    position: relative;
    bottom: 18px;
}

nav {
    border-top: 1px solid rgb(20, 20, 20);
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 10px 100px;
    margin: 0 80px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.linksnav link{
    color: black;
    text-decoration: none;
}

.linksnav link:hover{
    color: black;
}

.menu-container img {
    width: 150px;
    padding-top: 10px;
}

.icons i {
    padding-right: 7px;
}

/* página home */
.slider img {
    width: 1900px;
    height: 700px;
    object-fit: cover;
    transition: 1s ease;
}

.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    transition: 1s;
    
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    transition: 6.s ease;
}

.slider-content input{
    display: none;
}

.slide-box-first{
    transition: 1s;
}


.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.nav-manual, .nav-auto div{
    position: absolute;
    width: 100%;
    margin-top:40%;
    justify-content: center;
}

.manual-btn, .nav-auto div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.manual-btn:hover, .nav-auto:hover{
    background-color: black;
}

.manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: black;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: black;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: black;
}

#radio1:checked ~ .slide-box-first{
    margin-left: 0%;
}

#radio2:checked ~ .slide-box-first{
    margin-left: -25%;
}

#radio3:checked ~ .slide-box-first{
    margin-left: -50%;
}


.barra {
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 10px 300px;
    margin: 10 80px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    margin-top: 30px;
    margin-bottom: 30px
}

.product_home_container{
    
    width: 250px;
    height: 250px;
    text-align: center;
}

.product_home_container {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-block; 

}   

.product_home_container img {
    max-width: 100%;
    border-radius: 5px;
}

.infoproduct {
    margin-top: 5px;
}

.infoproduct .description {
    font-size: 16px;
}


.textprincipal{
    font-family: 'Inria Serif', serif;
}

.textsecond{
    font-family: 'Inria Serif', serif;
}

.searchbar img {
    height: 25px;
    width: 25px;
    position: relative;
    right: 45px;
    top: 7px;
}

.teste{
    background:none;
    border-color:black;
    outline: 0;
    width: 10vw;
    height: 2vw;
    border-radius: 20px;
    border-style: solid;
    padding-left: 8px;
    border-width: 1px;
}

.frete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    
}

.parcelar{
    display: flex;
    text-align: left;
}

.envio{
    display: flex;
    text-align: left;
}

.pix {
    display: flex;
    text-align: left;
}

.categorias {
    border-top: 1px solid grey;
    margin: 0 80px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    position: relative;
}

.tt{
    justify-content: center;
}

.fotinha{
    position:relative;
    top:0;
}

.cosmeticscateg:hover{
   top:-4px;box-shadow:0 4px 4px #999;
   transition: all .2s ease-in-out;
}

.testo {
    text-align: center;
    margin: 0 auto;
    padding: 1px;
    margin-top: 20px;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.testando {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testando div{
    margin: 30px;
}

.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.categorias img{
    padding-top: 50px;
    padding-right: 80px;
    border-radius: 100px;
    flex-wrap: wrap;
}

.textcategories{
    margin-top: 30px;
    padding-left: 10px;
    
}

.botao {
    width: 130px;
    height: 32px;
    background-color: #eae1e8;
    border: 1px solid black;
    outline: none; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

.botao:hover {
    background-color: #fcc5e2;
    border-color: #fcc5e2; 
}

.description, .price {
    text-align: left;
} 



.detalhesbarra{
    padding-left: 10px;
}

.t1{
    padding-left: 100px;
    position: relative;
}

.imgp{
    width: 400px;
   
}


.imgp img{
    width: 370px;
    height: 400px;
    padding-left: 100px;
    margin-top: 150px;
    margin-left: 0;
 
}

.produtosvendidos{
    justify-content: space-around;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    
}

.retangulo{
    position: relative;
    display: flex;
    width: 500px;
    height: 60px;
    background-color: #C0809B;
    margin-left: 82px;
}
.t2{
    width: 100%;
}

.textt1 {
    position: relative;
    margin-top: -30px;
    padding-left: 200px;
    height: 30px;
    margin-left: 0;
}

.t1{
    flex-wrap: wrap;
    margin-left: 0;
}

.product_vend {
    margin-top: 100px;
    width: 250px;
    height: 250px;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 0;
    margin: 130px 0; 
    padding: 20px;
    text-align: center;
    width: calc(25% - 20px);
    flex-basis: calc(25% - 20px); 
    box-sizing: border-box;
    
}

.product_vend img{
    height: 400px;
    object-fit: contain;    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}


.cosmeticscateg{
    background-image: url(images/essa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0;
}

.maquiagemcateg{
    background-image: url(images/make.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0;
}

.maquiagemcateg:hover{
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
}


.hair{
    background-image: url(images/hair.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0;
}

.hair:hover{
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
}

.perfumariacateg{
    background-image: url(images/perfume.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0;
}

.perfumariacateg:hover{
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
}

.fimpag{
    padding-top: 150px;
    display: flex;
    padding-bottom: 50px;
}



.banner_inf img{
    width: 1900px;
    height: 700px;
}

.footer{
    display: flex;
    width: 1900;
    height: 700;
    background-color: white;
    padding: 30px;
    justify-content: space-between;
}

.lado1 img {
    width: 120px;
}

.lado1 {
    padding-right: 50px;
    padding-left: 30px;
}

.lado2 {
    padding-right: 40px;
}

.lado3 {
    padding-right: 120px;
}

.lado4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flags {
    display: flex;
    flex-wrap: wrap;
}

.lado4 img {
    width: 65px;
    padding-right: 20px;
}

.lado4pt3 img{
    width: 47px;
    padding-right: 0px;
}

/* products */

.retangulo_products{
    width: 520px;
    height: 400px;
    background-color: #FCC5E2;
    margin-top: 50px;
    margin-left: 220px;
}

.imagem_product img{
    width: 450px;
    height: 450px;
    margin-top: 100px;
    margin-left: -430px;
}

.products_layout{
    display: flex;
}

.text_products{
    font-family: 'Nunito', sans-serif;
    padding-left: 150px;
    padding-top: 270px;
}

.titulo{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 45px;
}

.products_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.products_container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.product {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px 0; 
    padding: 20px;
    text-align: center;
    width: calc(25% - 20px);
    flex-basis: calc(25% - 20px); 
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}


/* PAGINA NOVIDADES */

.text_padrao{
    margin-top: 40px ;
    text-align: center;
}

.images_news{
    padding-top: 70px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

/* perfumaria */


.imagem_product2{
    width: 450px;
    height: 450px;
    margin-top: 100px;
    margin-left: -430px;
}

/* sobre nós */

.sobrenos{
    display: flex;
    flex-wrap: wrap;
}

.logosobrenos{
    text-align: center;
    margin-top: 70px;
    border-bottom: 2px solid rgb(20, 20, 20);
    padding-bottom: 40px;
}

.textsobrenos{
    text-align: center;
  
}

.textsobrenos{
    margin-top: 60px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
}

.retangulosb{
    margin-top: 70px;
    margin-left: 395px;
    border-radius: 10px;
    background-color: white;
    width: 1200px !important;
    height: 700px;
    margin-bottom: 35px;
}

.retangulosb {
    text-align: center;
    font-size: 30px;
}

.infosb{
    color: #C0809B;
    text-align: center;
    font-size: 50px;
    margin-top: -230px;
    margin-bottom: 200px;

}

.listainstitucional{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 30px;
    padding-top: 80px;
    padding-left: 230px;
    padding-right: 200px;
}

/* makeup */

.retangulomake{
    margin-top: -200px;
    margin-left: 145px;
    background-color: #fcc5e2;
    width: 1600px;
    height: 200px;
}

.textmake{
    
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
    display: flex;
    text-align: center;
}

.images_make2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.linha{
    border-bottom: 1px solid grey;
    margin: 0 80px;
    padding-bottom: 20px;
}

.retangulao{
    margin-top: 30px;
    background-color: #fcc5e2;
    width: 1902px;
    height: 200px;
}

.maketext{
    color: #C0809B;
    text-align: center;
    font-size: 70px;
    margin-top: -170px;
    margin-bottom: 150px;
    font-family: 'Oleo Script', sans-serif;
}

.quadrado{
    display: flex;
    background-color: white;
    width: 340px;
    height: 265px;
    margin-bottom: 100px;
    border: solid 1px #DF47AB;
    flex-direction: column;
    margin-bottom: 40px;
}

.quadradomake{
    margin-top: -135px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
   
}

.quadradomake img{
    margin-top: 12px;
}

.inf{
    font-size: 15px;
}


