*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eae1e8;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: 'Courier New', Courier, monospace, garamond;
    height: 100vh;
}
/* menu lateral*/
.side-bar {
    z-index: 1000;
    background-color: #FCC5E2;
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition:  0.6s ease;
    transition-property: left;
}

.side-bar.active{
    left: 0;
}

.menuicon{
    position: absolute;
    color: #000;
    font-size: 20px;
    margin: 40px;
    cursor: pointer;
}

.menu {
    width: 100%;
    margin-top: 80px;
}

.item {
    position: relative;
    cursor: pointer;
}

.item a {
    color: white;
    background: #FCC5E2;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.item a:hover {
    background-color: #DF47AB;
    transition: 0.3s ease;
}
.item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.sub-menu{
    background-color: #CCC;
    display: none;

}

.sub-menu a {
    padding-left: 80px;
}

.rotate{
    transform: rotate(90deg);
}

.close-btn{
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 10px;
    right: 0;
    margin: 25px;
}

.x{
    size: 5px;
}

.item .sub-btn .dropdown{
    padding-bottom: 10px;
}

.icones-menu{
    text-decoration: none;
    display: flex;
    gap: 25px;
    padding-left: 25px;
    padding-top: 15px;
}

/*  */

.grid {
    display: flex;
    justify-content: space-between;
}

.grid2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
    padding: 20px; 
    margin-top: 20px;
    box-sizing: border-box;
    margin-left: 200px;
    margin-right: 200px; 
}


.grid2 > * {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
}


@media screen and (max-width: 768px) {
    .grid2 > * {
        flex-basis: calc(50% - 20px); 
    }
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
}

.icons{
        align-items: center;
        padding-top: 0;
        justify-content: flex-end;
        display: flex;
    }

i#menu{
    position: relative;
    bottom: 18px;
}

nav {
    border-top: 1px solid rgb(20, 20, 20);
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 10px 100px;
    margin: 0 80px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.navitens{
    text-decoration: none;
    color: black;
}

.navitens:hover{
    color: #DF47AB;
}

.menu-container img {
    width: 150px;
    padding-top: 10px;
}

.icons i {
    padding-right: 7px;
}

/* footer */
.footer{
    display: flex;
    width: 1900;
    height: 700;
    background-color: white;
    padding: 30px;
    justify-content: space-between;
}

.lado1 img {
    width: 120px;
}

.lado1 {
    padding-right: 50px;
    padding-left: 30px;
}

.lado2 {
    padding-right: 40px;
}

.lado3 {
    padding-right: 120px;
}

.lado4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flags {
    display: flex;
    flex-wrap: wrap;
}

.lado4 img {
    width: 65px;
    padding-right: 20px;
}

.lado4pt3 img{
    width: 47px;
    padding-right: 0px;
}

.footeritens{
    text-decoration: none;
    color: black;
}

.footeritens:hover{
    color: #DF47AB;
}

.titulo4{
    font-weight: bold;
    color: #C0809B;
}

.teste{
    background:none;
    border-color:black;
    outline: 0;
    width: 10vw;
    height: 2vw;
    border-radius: 20px;
    border-style: solid;
    padding-left: 8px;
    border-width: 1px;
}


/* form */

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #ae53ae;
}

.left-login-image{
    width: 40vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #e3bce3;
    border-radius:20px ;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login >h1{
    color: #FFF;
    font-weight: 700;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input, .inputuser{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: beige;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: #ae53ae;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #e3bce3;
    background-color: beige;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff006f52;
}

.link-login{
    text-decoration: none;
    color: #FFF;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}